
<h3>Welcome to Dashboard {{name}}</h3>
{{> _add-btn}}

{{#if stories}}
<p>Here are stories that you created</p>
<table class="striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each stories}}
        <tr>
            <td><a href="/stories/index{{_id}}">{{title}}</a></td>
            <td>{{formatDate createdAt}}</td>
            <td><span class="dash-status">{{status}}</span></td>
           <td>
               <a href="/stories/edit/{{_id}}" class="btn green">
               <i class="fas fa-edit">
               </i></a>
               <a href="/stories/delete/{{_id}}" class="btn red"><i class="fas fa-trash"></i></a>
           </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p> Sorry !! You have not created any stories yet.</p>
{{/if}}

<br>
<br>
<footer class="footer">
    <div class="py-3">


        &copy;
        <script>document.write(new Date().getFullYear())</script> Kh Nishad
        <a href="https://www.facebook.com/kh.nishad.9"><i class="fab fa-facebook fa-2x  mx-3"></i></a>
        <a href="https://github.com/KhNishad"><i class="fab fa-github fa-2x  mx-3"></i></a>
        <a href="https://www.linkedin.com/in/kh-nishad-793606140/"><i class="fab fa-linkedin fa-2x  mx-3"></i></a>

    </div>
</footer>