
<h3>Welcome to Dashboard {{name}}</h3>
{{> _add-btn}}

{{#if stories}}
<p>Here are stories that you created</p>
<table class="striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each stories}}
        <tr>
            <td><a href="/stories/index{{_id}}">{{title}}</a></td>
            <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
            <td><span class="dash-status">{{status}}</span></td>
           <td>
               <a href="/stories/edit/{{_id}}" class="btn green">
               <i class="fas fa-edit">
               </i></a>
               <a href="/stories/delete/{{_id}}" class="btn red"><i class="fas fa-trash"></i></a>
           </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p> Sorry !! You have not created any stories yet.</p>
{{/if}}