{{> _header}}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="/css/comnt.css">
<br>

<div class="container">


<div class="row">
    <div class="col s12 m8">
         <h3>Auhtor: <i class="fas fa-pencil-alt">{{storyy.user.displayName}}</i>
         
            <img src="{{storyy.user.image}}" class=" circle responsive-img img-small">
         </h3>
        <div class="card story">
            <div class="card-content">
                <h3 class="fas fa-book-reader"> {{storyy.title}}
                    <small>{{{editIcon storyy.user user storyy._id false}}}</small>
                </h3>
                {{!-- <span class="card-title">{{formatDate storyy.user.createdAt}}</span> --}}
                <p> Uploaded On : {{formatDate storyy.user.createdAt}}</p>
                {{{storyy.body}}}
            </div>
        </div>
    </div>
    {{!-- <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{storyy.user.displayName}}</span>
                <img src="{{storyy.user.image}}" class="circle responsive-img img-small">
            </div>
            <div class="card-action">
                <a href="/stories/user/{{storyy.user._id}}">More From {{storyy.user.firstName}}</a>
            </div>
        </div>
    </div> --}}
</div>


    
    <div class="row">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <h3 class="panel-title">
                  Total Comments</h3>
                <span class="label label-info">
                    {{cmnt.length}}</span>
            </div>
            {{#each cmnt}}
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <img src="{{image}}" class="img-circle img-responsive" alt="" /></div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    
                                     <a href="#">{{userName}} </a> {{formatDate time}}

                                    <div class="mic-info">
                                        
                                        <h4> : {{comment}}</p>
                                    </div>
                                </div>
                               
                                {{!-- <div class="action">
                                    <button type="button" class="btn btn-primary btn-xs" title="Edit">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button type="button" class="btn btn-success btn-xs" title="Approved">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </div> --}}
                            </div>
                        </div>
                    </li>
                    
                </ul>
               
                {{/each}}
               
        </div>
        

</div>
</div>
{{> _footer}}