<h1>Stories</h1>
{{> _add-btn}}
<div class="row">
    {{#each stories}}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                {{{editIcon user ../user _id}}}
            </div>
            <div class="card-content center-align">
                <h5>{{title}}</h5>
                <p>{{stripTags (truncate body 100)}}</p>
                <br>
                <div class="chip">
                    <img src="{{user.image}}" alt="">
                    <a href="/stories/user/{{user._id}}">{{user.displayName}}</a>
                </div>
            </div>
           
            <form action="/stories/like" method="POST">
                {{!-- <a href="/stories/like/{{_id}}" class="btn btn-danger"><i class="fas fa-thumbs-up "> {{like}}</i></a> --}}
                <input type="hidden"  name="story_id" id="story_id" value="{{_id}}">
                <button class="btn btn-red" type="submit"><i class="fas fa-thumbs-up "> {{like}}</i></button>
                {{!-- <a href="/stories/dislike/{{_id}}" class="btn red"><i class="fas fa-thumbs-down "> {{dislike}}</i></a> --}}

           </form>
         
            <div class="card-action center-align">
                <a href="/stories/{{_id}}" class="btn grey">Read More</a>
            </div>
            
        </div>
    </div>
    {{else}}
    <p>No stories to display</p>

    {{/each}}
</div>